body{
    font-family:'Times New Roman', Times, serif
}

.judul {
    text-align: center; 
    font-weight: bold;
    text-transform: uppercase;
}
h1{
  margin: 0px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    text-align: left;
    padding: 12px;
  }
  th{
      text-align: center;
  }
  .no{
    text-align: center; 
  }
  
  